.DS_Store
BOARD.DUMP.JAML
GIT repo howto.html
GIT repo howto_files
TODO - 858x537@136.398dpi scans + board
amp15bottom.100dpi.layers.psd
amp15top.100dpi.layers.psd
imageBackupsamples
imageBackup
potential libs/
cruft
doc/cruft
datapacks/*/rawmaterial
datapacks/*/rawmaterial/*
rawmaterial/
rawmaterial/*
